# deps
node_modules/
.pnpm-store/

# build
dist/
build/
.next/
out/
*.tsbuildinfo

# env / secrets
.env
.env.*
!.env.example
!.env.*.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# expo / rn
.expo/
.expo-shared/
*.orig.*
web-build/

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# test / coverage
coverage/
